html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.divide-text:before,
.divide-text:after{
    color:white;
    content:"";
    flex:1;
    border-bottom:1px solid #555;
    margin:auto 0.25rem;
    box-shadow:0 -2px;
}
.image-container {
    width: 100%;
    height: auto;
    margin-top: 0; /* Adjust this if you want spacing between navbar and image */
    overflow: hidden;
}

    .image-container img {
        width: 100%;
        height: auto;
        object-fit: cover; /* Ensures image covers the full width without stretching */
        object-position: center; /* Keeps the focal point in the center of the image */
    }

